<!doctype html>
<meta charset="utf-8">
<title> Plan your Party </title>

<style>
  .active { display: block !important }
  form { display: none }
  section { width: 33%; float: left }
  #map-canvas { height: 400px; width: 400px }
</style>

<link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">

<!-- HaXx0r --> <br><br><br> <div align=center> <!-- /HaXx0r -->

  <form action=javascript:login() class=active>
    <input type=text name=email title=email placeholder=email style=display:none> <br>
    <input type=text name=username title=username placeholder=username> <br>
    <input type=password name=password title=password placeholder=password> <br>
    <input type=submit class="btn btn-primary" value=login id=login>
    <input type=button class=btn value=register onclick=register()>
  </form>

  <form>
    <!-- argh bootstrap X( -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"> <a href=javascript:void(0)> Events </a>
              <li> <a href=javascript:hide(1),show(2)> Profile </a>
              <li> <a href=javascript:logout()> Logout </a>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <section>
      <div id="map-canvas"/>
    </section>

    <section id=events>
      <p> Events nearby </p>
      <div class="accordion" id="accordion2">
       <div class="accordion-group">
        <div class="accordion-heading">
         <p>Collapsible Group Item #2</p>
        </div>
        <div id="collapseTwo" class="accordion-body">
         <div class="accordion-inner">
           <table class="table table-hover">
	   </table>
         </div>
        </div>
       </div>
      </div>
    </section>

    <section id=pevents>
      <p> Personal events </p>
    </section>
  </form>

  <form action=javascript:update()>
    <!-- argh bootstrap X( -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li> <a href=javascript:hide(2),show(1)> Events </a>
              <li class="active"> <a href=javascript:void(0)> Profile </a>
              <li> <a href=javascript:logout()> Logout </a>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <input type=text name=username title=username placeholder=username> <br>
    <input type=text name=fullname title=fullname placeholder=fullname> <br>
    <input type=text name=email title=email placeholder=email> <br>
    <input type=date name=birthday title=birthday placeholder=email> <br>
    <select name=sex title=sex title=sex>
      <option value=1> man </option>
      <option value=2> woman </option>
    </select> <br>
    <select name=status title=status title=status>
      <option value=1> single </option>
      <option value=2> with someone </option>
    </select> <br>
    <input type=submit value=submit class="btn btn-primary">
  </form>

</div>

<script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLHdzA-5F9DCllQbLmataclCyVp8MSXok&sensor=true"></script>

<script>
  var auth_token = '', form = [], lat = 45.781874, lon = 4.873114, timeout,
      l = document.querySelector('#login'),
      e = document.querySelector('#events'),
      pe = document.querySelector('#pevents');

  navigator.geolocation.getCurrentPosition(function(pos) { lat = pos.coords.latitude, lon = pos.coords.longitude });

  function login() { timeout = setTimeout(loginfail, 1000), l.disabled = true, email = form[0].email.value, post(
    (email ? '/api/register/' : '/api/login/'),
    'username=' + form[0].username.value + '&password=' + form[0].password.value +
    (email ? '&email=' + email : '&device_type=rover&device_manufacture=nasa&device_os=vxworks&os_version=beta&device_id=curiosity'),
    function(data) {
      clearTimeout(timeout);
      if (email) form[0].email.value = '', login()
      else auth_token = data.auth_token, init()
    }
  )};

  function loginfail() { l.disabled = false }
  function register() { form[0].firstElementChild.style.display = 'inline-block'; form[0].lastElementChild.style.display = 'none'; l.value = 'submit' };

  function init() { hide(0), show(1), initMap(), post(
    '/api/get_events/',
    'auth_token=' + auth_token + '&radius=5000&latitude=' + lat + '&longitude=' + lon,
    function(data) {
      for (var i = 0; i < data.list.length; i++) {
        var article = document.createElement('article'), name = document.createElement('p'), address = document.createElement('p'), description = document.createElement('p');
        name.textContent = data.list[i].name,
        address.textContent = data.list[i].address,
        description.textContent = data.list[i].description;
        [name, address, description].forEach(article.appendChild.bind(article));
        e.appendChild(article);
      }
    }
  ), post(
    '/api/get_personal_events/',
    'auth_token=' + auth_token,
    function(data) {
      document.querySelector('#pevents').textContent = JSON.stringify(data, null, 2);
    }
  )
};

  function update() { post(
    '/api/update_user_info',
    'auth_token=' + auth_token + '&full_name=' + form[2].fullname + '&email=' + form[2].email + '&birthday=' + form[2].birthday + '&sex=' + form[2].sex + '&status=' + form[2].status,
    function(data) {
      alert('oh yeah');
    }
  )};

  function logout() {
    // remove cookie?
    document.location += '';
  };

function initMap() {
var mapOptions = {
  center: new google.maps.LatLng(lat, lon),
  zoom: 15,
  mapTypeId: google.maps.MapTypeId.ROADMAP
};
var map = new google.maps.Map(document.getElementById("map-canvas"),
    mapOptions);
};


  for (var i = 0; i < document.forms.length; i++) form.push(document.forms[i]);

  function show(i) { form[i].classList.add('active') };
  function hide(i) { form[i].classList.remove('active') };

  function post(address, data, callback) {
    var xhr = new XMLHttpRequest();
    xhr.open('POST', address, true);
    xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
    xhr.onreadystatechange = function() {
      if(xhr.readyState === 4 && xhr.status === 200) callback(JSON.parse(xhr.responseText))
    };
    xhr.send(data);
  };

</script>
