<!doctype html>
<meta charset="utf-8">
<title> Plan your Party </title>

<style>
  .active { display: block !important }
  form { display: none }
  section { width: 33%; float: left }
</style>

<!-- HaXx0r --> <br><br><br> <div align=center> <!-- /HaXx0r -->

  <form action=javascript:login() class=active>
    <input type=text name=email title=email placeholder=email style=display:none> <br>
    <input type=text name=username title=username placeholder=username> <br>
    <input type=password name=password title=password placeholder=password> <br>
    <input type=submit value=login id=login>
    <input type=button value=register onclick=register()>
  </form>

  <form>
    <section>
     <p> Map? </p> 
    </section>
    <section id=events>
     <p> Events nearby </p>
    </section>
    <section id=pevents>
     <p> Personal events </p> 
    </section>
  </form>

</div>

<script>
  var auth_token = '', form = [], lat = 45.781874, lon = 4.873114, timeout,
      l = document.querySelector('#login'),
      e = document.querySelector('#events'),
      pe = document.querySelector('#pevents');

  navigator.geolocation.getCurrentPosition(function(pos) { lat = pos.coords.latitude, lon = pos.coords.longitude });

  function login() { timeout = setTimeout(loginfail, 1000), l.disabled = true, email = form[0].email.value, post(
    (email ? '/api/register/' : '/api/login/'),
    'username=' + form[0].username.value + '&password=' + form[0].password.value +
    (email ? '&email=' + email : '&device_type=rover&device_manufacture=nasa&device_os=vxworks&os_version=beta&device_id=curiosity'),
    function(data) {
      clearTimeout(timeout);
      if (email) form[0].email.value = '', login()
      else auth_token = data.auth_token, init()
    }
  )};

  function loginfail() { l.disabled = false }
  function register() { form[0].firstElementChild.style.display = 'inline-block'; form[0].lastElementChild.style.display = 'none'; l.value = 'submit' };

  function init() { hide(0), show(1), post(
    '/api/get_events/',
    'auth_token=' + auth_token + '&radius=5000&latitude=' + lat + '&longitude=' + lon,
    function(data) {
      for (var event in data.list) {
        var article = document.createElement('article'), name = document.createElement('p'), address = document.createElement('p'), description = document.createElement('p');
        name.textContent = event.name, description.textContent = event.description, address.textContent = event.address;
        [name, address, description].forEach(article.appendChild.bind(article));
        e.appendChild(article);
      }
    }
  ), post(
    '/api/get_personal_events/',
    'auth_token=' + auth_token,
    function(data) {
      document.querySelector('#pevents').textContent = JSON.stringify(data, null, 2);
    }
  )};

  for (var i = 0; i < document.forms.length; i++) form.push(document.forms[i]);

  function show(i) { form[i].classList.add('active') };
  function hide(i) { form[i].classList.remove('active') };

  function post(address, data, callback) {
    var xhr = new XMLHttpRequest();
    xhr.open('POST', address, true);
    xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
    xhr.onreadystatechange = function() {
      if(xhr.readyState === 4 && xhr.status === 200) callback(JSON.parse(xhr.responseText))
    };
    xhr.send(data);
  };

</script>
